:root {
    --color1: rgb(131, 131, 231)
}


.boxed {
    display: inline-block;
    width: 30vw;
    margin-left: 5vw;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rebeccapurple, -5px 5px 5px rebeccapurple, 0px -5px 5px rebeccapurple;
    background-color: slategray;
}

.boxed ul {
    margin-left: -1vw; 
}

.boxed li {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
}

.listItem a {
    text-decoration: none;
}