.searchbar {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.searchbar input {
    width: 150px;
    border-radius: 5px;
}

.dropdownlist {
    max-width: 150px;
    overflow-x: scroll;
    overflow-y: auto;
    max-height: 300px;
    height: 300px;
    visibility: visible;
    position: absolute;
    z-index: 2;
    background-color: var(--bgcolor);
    color: azure;
}

.dropdownlist div option {
    color: azure;
}

.dropdownlist.hidden {
    visibility: hidden;
}

@media screen and (max-width:450px) {
    .searchbar input {
        width: 100px;
    }

    .dropdownlist{
        max-width: 100px;
    }
}
