.searchbar {
    border: none;
    padding: 5px;
}

.searchbar input {
    width: 150px;
}

.searchbar .dropdownlist {
    max-width: 150px;
    overflow-x: scroll;
    overflow-y: auto;
    max-height: 300px;
}

.searchbar .dropdownlist.hidden {
    display: none;
}